.album_image {
    position: relative;
    transition: all 0.9s;
}

.album_image::before {
    content: '';
    background-color: rgba(15, 14, 14, 0.315);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


/* .album_heading {
    display: none;
}



.album_image:hover+.album_heading {
    display: block;
    z-index: 99;
    cursor: pointer;
} */